<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193174509150-i335nvrqvg6jsjfn5oo4i5394p9h4955.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193174509150-i335nvrqvg6jsjfn5oo4i5394p9h4955</string>
	<key>API_KEY</key>
	<string>AIzaSyDrFZyNlnSiZt0x4WSI4bFNycXLd0fwhcM</string>
	<key>GCM_SENDER_ID</key>
	<string>193174509150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.Khela-Karo</string>
	<key>PROJECT_ID</key>
	<string>khela-karo</string>
	<key>STORAGE_BUCKET</key>
	<string>khela-karo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193174509150:ios:b2126c5dec48419da806cf</string>
</dict>
</plist>